<p>
  <h2 class="blog-post-title"><%= @post.title %></h2>
  <p class="blog-post-meta">
  	<%= local_time_format(@post.created_at) %>
  	<%= link_to "Edit", edit_post_path(@post) %>
  </p>
</p>
<p><%= @post.text %></p>
<br>
<h2 id="reply-title" class="yahei">回复</h2>
<%= render @post.comments%>

<%= render "comments/form"%>

